/* Home Page */

#home {
	background-color: #343a40;
}

.head-image {
	background: url('pics/dish.jpg') no-repeat;
	background-size: cover;
	height: 750px;
}

.small-pic {
	display: none;
}


#title {
	font-size: 1.25;
	font-weight: 400px;
}

.word {
	position: absolute;
    bottom: 0;
    color: #AEC3B0;
    padding: 2em;
    padding-left: 0;
}

.image-container:hover {
	transform: scale(1.1);
	filter: grayscale(0);
}

.image-container {
	transition: .2s;
	filter: grayscale(75%);
	height: 350px;
}


@media (max-width: 450px) {
	.head-image {
		display: none;
	}
	.small-pic {
		display: show;
	}
}